.app-border {
  padding: 60px;
  border: 2px solid #efbe1d;
  border-radius: 10px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
}

.weather-app {
  padding-top: 30px;
}

.weather-info {
  list-style-type: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-date {
  font-size: 16px;
}

.forecast-temp {
  font-size: 12px;
}

.min-temp {
  opacity: 0.7;
}

#search-btn {
  background-color: #efbe1d;
  border: 5px;
  border-radius: 3px;
  padding-left: 2px;
}

#search-btn:hover {
  color: aliceblue;
  background-color: #403a70;
  cursor: pointer;
  padding: 6px auto;
}

#temperature {
  font-size: 65px;
  margin: 0;
}

.tempUnits {
  font-weight: 25px;
  padding-left: 5px;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: -35px;
}

#icon {
  max-width: 75px;
}

.small {
  padding-top: 30px;
}

#right-column {
  text-align: right;
}

#celsius {
  color: black;
}

#celsius:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

#fahrenheit {
  color: rgb(113, 112, 112);
}

#fahrenheit:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
